.page-layout {display: flex; flex-direction: column; flex-wrap: nowrap;}
.navigation-bar { position: relative; top: 0; height: 64px; align-items: center; display: flex; gap: 16px; padding: 6px 24px;}
.nav-link { padding: 16px 24px; }
.test-projects {align-items: flex-end; border-radius: 16px 16px 0 0; height: calc(100dvh - 64px); margin: 0 44px; box-sizing: border-box; background-color: rgb(51, 51, 51);}
.container {padding: 24px 0px 0px 20%; }
.Landing {padding-right: 24%; align-items: center; display: flex; flex-direction: column;}